@font-face {
	font-family: 'ShallowGrave';
    src:url('/fonts/ShallowGraveBB.ttf');
}

@font-face {
	font-family: 'LivingHell';
    src:url('/fonts/LivingHell.ttf');
}
@font-face {
	font-family: 'Feast';
    src:url('/fonts/feast.ttf');
}


#storyText {
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
    height: 600px;
}

#locationDescription {
	text-shadow: 3px 4px #8A0707;
	color: white;
	font-family: Feast;
}

.scaryButton {
	margin: 10px 10px;
	padding: 10px 10px;
	opacity: 0.8;
}

#slenderFader {
	position: fixed;
	bottom: 0;
	right: 0;
}

body {
	color: white;
}